.node {
  font-size: 14px;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.nodeSource,
.nodeTarget {
  font-weight: 700;
}

.nodeSource {
  fill: #2ca02c;
}

.nodeTarget {
  fill: #d62728;
}

.linkSource,
.linkTarget {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.linkSource {
  stroke: #d62728;
}

.linkTarget {
  stroke: #2ca02c;
}
